.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    cursor: pointer;
}

.title_wrapper {
    text-align: center;
    width: 156px;
}

.title {
    font-size: small;
    font-weight: 500;
}
