.container {
    border: 1px solid gray;
    margin-top: 10px;
    max-width: 480px;
    width: 100%;
    display: flex;
}

.left {
    width: 80%;
    border-right: 1px solid gray;
    display: flex;
    flex-direction: row;

    &:hover {
        cursor: pointer;
    }
}

.right {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    margin-left: 10px;
    border-radius: 50%;
}

.names {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
