[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
dj-database-url = "*"
python-dotenv = "*"
djangorestframework = "*"
django-filter = "*"
django-model-utils = "*"
django-telegram-login = "*"
django-cors-headers = "*"
requests = "*"
djangorestframework-simplejwt = "*"
django-friendship = "*"

[dev-packages]

[requires]
python_version = "3.10"
