.title {
    font-weight: 700;
    font-size: 34px;
}

.alt_title {
    opacity: 0.4;
}

.ratings {
    width: 200px;
    text-align: center;
}

.rating {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        cursor: pointer;
    }
}

.rating_number {
    margin-left: 10px;
}

.root_block {
    display: flex;
    padding: 20px;
}

.info_block {
    margin-left: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.movie_block {
    max-width: 75%;
}

.play_button {
    border-top-left-radius: 15% 50%;
    border-bottom-left-radius: 15% 50%;
    border-top-right-radius: 15% 50%;
    border-bottom-right-radius: 15% 50%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    color: var(--textColorWhite);
    margin: 20px;
    transition: 0.2s all linear;

    &:hover {
        cursor: pointer;
        color: var(--secondaryColor);
        transform: translateY(-3px);
    }
}

.bookmark {
    margin: 20px;
    transition: 0.2s all linear;

    &:hover {
        cursor: pointer;
        transform: translateY(-3px);
    }
}

@media only screen and (max-width: 855px) {
    .root_block {
        flex-direction: column;
        align-items: center;
    }

    .info_block {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .movie_block {
        max-width: 100%;
    }

    .play_button {
        margin: 20px 0 20px 0;
    }
}

.button {
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    background-color: var(--mainColor);
    color: var(--textColorWhite);
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        color: var(--secondaryColor);
        cursor: pointer;
    }
}

.delete_button {
    background-color: #da3633;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    color: var(--textColorWhite);
    font-weight: 600;
    border-radius: 5px;
    width: 100px;
    margin-left: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        color: var(--secondaryColor);
        cursor: pointer;
    }
}

.textarea {
    width: 55%;
    resize: vertical;
    padding: 15px;
    border-radius: 15px;
    border: 0;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.06);
    height: 150px;
}

@media only screen and (max-width: 1024px) {
    .textarea {
        width: 100%;
    }
}
