:root {
    --mainColor: #141414;
    --mainColorLight: #dcdcdc;
    --secondaryColor: #ffa219;
    --textColorWhite: #eee;
    --grey: #293133;
    --swiper-navigation-color: #141414;
    --swiper-pagination-color: #141414;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Graphik Kinopoisk LC Web SB', 'Raleway', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7e9ea;
}

.wrapper {
    background: #f4f4f4;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
}

.content {
    margin: 0;
    background: var(--textColorWhite);
    display: flex;
    flex-direction: column;
}

.react-tabs {
    -webkit-tap-highlight-color: transparent;
    margin: 30px 0 10px 0;
}

.react-tabs__tab-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--mainColor);
}

.react-tabs__tab {
    width: 50%;
    padding: 1rem;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
}

.react-tabs__tab--selected {
    background: var(--mainColor);
    color: var(--textColorWhite);
}

.react-tabs__tab--disabled {
    color: var(--grey);
    cursor: default;
}

.react-tabs__tab:hover {
    background: var(--mainColor);
    color: var(--textColorWhite);
}

.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: flex;
    justify-content: center;
}
