:root {
    --mainColor: #141414;
    --mainColorLight: #dcdcdc;
    --secondaryColor: #ffa219;
    --textColorWhite: #eee;
    --grey: #293133;
}

html {
    height: 100%;
}

#root {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Graphik Kinopoisk LC Web SB', 'Raleway', system-ui;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7e9ea;
    // height: 100%;
}

.wrapper {
    background: #f4f4f4;
    // border-radius: 39px;
    max-width: 1080px;
    margin: 0 auto;
    height: 100%;
}

header {
    // border-bottom: 1px solid #d9d9d9;
    // height: 70px;
    h3,
    p,
    span {
        margin: 0;
        color: #fffdf9;
    }
    p,
    span {
        font-weight: 500;
        font-size: 14px;
    }
    span {
        margin: 10px;
    }
}

.content {
    margin: 0;
    background: #eee;
    .suggestions-card {
        background: #d9d9d9;
        width: 860px;
        height: 240px;
    }
}
